<a href="https://colab.research.google.com/github/13-1550/13-1550/blob/main/lab1_DataAnalysiswithPandas_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This Lab is based on the Text mining  and NLP Course

## Lab 1.  Data analysis with pandas

# Table of Contents
<ol start="0">
<li> Learning Goals </li>
<li> Loading and Cleaning with Pandas</li>
<li> Parsing and Completing the Dataframe  </li>
<li> Grouping </li>
</ol>

## Learning Goals

About 6000 odd "best books" were fetched and parsed from [Goodreads](https://www.goodreads.com). The "bestness" of these books came from a proprietary formula used by Goodreads and published as a list on their web site.

We parsed the page for each book and saved data from all these pages in a tabular format as a CSV file. In this lab we'll clean and further parse the data.  We'll then do some exploratory data analysis to answer questions about these best books and popular genres.  


By the end of this lab, you should be able to:

- Load and systematically address missing values, for example, by removing observations associated with these values.
- Parse columns in the dataframe to create new dataframe columns.
- Use groupby to aggregate data on a particular feature column, such as author.

Explanation:

Step 1: Loading and Handling Missing Data


When we load the dataset, some information might be missing. These missing values are marked as NaN (Not a Number).
We'll first look at these missing values, and then decide if we should remove those rows or fill in the gaps with something else.

Step 2: Parsing Data Columns


Sometimes, the data we have can be split into more detailed parts. For example, if we have a column that combines an author's full name, we might split it into "First Name" and "Last Name."
This process is called parsing, and it helps us get more specific information from our data.

Step 3: Grouping and Aggregating Data


Grouping data means organizing it based on a shared feature. For example, we can group all books by the same author.
After grouping, we can summarize the data to answer questions like, "Which author has the most books on the list?" or "Which genre is most popular?"

### Basic EDA workflow


The basic workflow is as follows:

1. **Build** a DataFrame from the data (ideally, put all data in this object)
2. **Clean** the DataFrame. It should have the following properties:
    - Each row describes a single object
    - Each column describes a property of that object
    - Columns are numeric whenever appropriate
    - Columns contain atomic properties that cannot be further decomposed
3. Explore **global properties**. Use histograms, scatter plots, and aggregation functions to summarize the data.
4. Explore **group properties**. Use groupby and small multiples to compare subsets of the data.

This process transforms your data into a format which is easier to work with, gives you a basic overview of the data's properties, and likely generates several questions for you to followup in subsequent analysis.

## Part 1: Loading and Cleaning with Pandas
Read in the `goodreads.csv` file, examine the data, and do any necessary data cleaning.

Here is a description of the columns (in order) present in this csv file:

```
rating: the average rating on a 1-5 scale achieved by the book
review_count: the number of Goodreads users who reviewed this book
isbn: the ISBN code for the book
booktype: an internal Goodreads identifier for the book
author_url: the Goodreads (relative) URL for the author of the book
year: the year the book was published
genre_urls: a string with '|' separated relative URLS of Goodreads genre pages
dir: a directory identifier internal to the scraping code
rating_count: the number of ratings for this book (this is different from the number of reviews)
name: the name of the book
```

Let us see what issues we find with the data and resolve them.  



----




After loading appropriate libraries

In [5]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

### Cleaning: Reading in the data
We read in and clean the data from `goodreads.csv`.

In [6]:
#Read the data into a dataframe
df = pd.read_csv("goodreads.csv")

#Examine the first few rows of the dataframe
df.head()

   4.40   136455  0439023483  good_reads:book https://www.goodreads.com/author/show/153394.Suzanne_Collins    2008 /genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action                dir01/2767052-the-hunger-games.html    2958974            The Hunger Games (The Hunger Games, #1)
0  4.41  16648.0  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....            2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...                                                                                                                                                                                                     dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...  1284478.0  Harry Potter and the Order of the Phoenix (Har...
1  3.56  85746.0  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...            2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                                                                                                                                                                                                                             dir01/41865.Twilight.html  2579564.0                            Twilight (Twilight, #1)
2  4.23  47906.0  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...            1960.0  /genres/classics|/genres/fiction|/genres/histo...                                                                                                                                                                                                                 dir01/2657.To_Kill_a_Mockingbird.html  2078123.0                              To Kill a Mockingbird
3  4.23  34772.0  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...            1813.0  /genres/classics|/genres/fiction|/genres/roman...                                                                                                                                                                                                                   dir01/1885.Pride_and_Prejudice.html  1388992.0                                Pride and Prejudice
4  4.25  12363.0  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...            1936.0  /genres/classics|/genres/historical-fiction|/g...                                                                                                                                                                                                                   dir01/18405.Gone_with_the_Wind.html   645470.0                                 Gone with the Wind

Oh dear. That does not quite seem to be right. We are missing the column names. We need to add these in! But what are they?

Here is a list of them in order:

`["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name']`

<div class="exercise"><b>Exercise</b></div>
Use these to load the dataframe properly! And then "head" the dataframe... (you will need to look at the read_csv docs)

In [7]:
# your code here
import pandas as pd

# List of column names in the specified order
columns = ["rating", "review_count", "isbn", "booktype", "author_url",
           "year", "genre_urls", "dir", "rating_count", "name"]

# CSV file with the correct column names
df = pd.read_csv('goodreads.csv', names=columns, header=None)

# Display the first few rows of the dataframe
print(df.head())

   rating  review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir  rating_count                                               name
0    4.40      136455.0  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html     2958974.0            The Hunger Games (The Hunger Games, #1)
1    4.41       16648.0  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...     1284478.0  Harry Potter and the Order of the Phoenix (Har...
2    3.56       85746.0  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html     2579564.0                            Twilight (Twilight, #1)
3    4.23       47906.0  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html     2078123.0                              To Kill a Mockingbird
4    4.23       34772.0  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html     1388992.0                                Pride and Prejudice

### Cleaning: Examing the dataframe - quick checks

We should examine the dataframe to get a overall sense of the content.

<div class="exercise"><b>Exercise</b></div>
Lets check the types of the columns. What do you find?

In [8]:
# your code here
print(df.dtypes)

rating          float64
review_count    float64
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count    float64
name             object
dtype: object



*your answer here*

two types of data were apparent: object and float64.
issue is that some columns that contain numbers appeared as data type= object

There are a couple more quick sanity checks to perform on the dataframe.

In [9]:

print(df.shape)
df.columns

(6000, 10)

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls', 'dir', 'rating_count', 'name'], dtype='object')

### Cleaning: Examining the dataframe - a deeper look

Beyond performing checking some quick general properties of the data frame and looking at the first $n$ rows, we can dig a bit deeper into the values being stored. If you haven't already, check to see if there are any missing values in the data frame.

Let's see for a column which seemed OK to us.

In [10]:
#Get a sense of how many missing values there are in the dataframe. Do it for all columns
np.sum([df.rating.isnull()])

missing_values = df.isnull().sum()

print(missing_values)

rating            2
review_count      2
isbn            477
booktype          2
author_url        2
year              7
genre_urls       62
dir               0
rating_count      2
name              2
dtype: int64

In [11]:
#Try to locate where the missing values occur
df[df.rating.isnull()]

missing = df[df.isnull().any(axis=1)]

#rows with missing values
print(missing)

      rating  review_count isbn         booktype                                         author_url    year                                         genre_urls                                           dir  rating_count                                   name
16      3.92       38061.0  NaN  good_reads:book  https://www.goodreads.com/author/show/498072.A...  2003.0  /genres/fiction|/genres/romance|/genres/fantas...  dir01/18619684-the-time-traveler-s-wife.html      927254.0               The Time Traveler's Wife
49      3.85       11628.0  NaN  good_reads:book  https://www.goodreads.com/author/show/5152.Vla...  1955.0  /genres/classics|/genres/fiction|/genres/liter...                        dir01/7604.Lolita.html      374886.0                                 Lolita
85      4.16       14968.0  NaN  good_reads:book  https://www.goodreads.com/author/show/137902.R...  2007.0  /genres/young-adult|/genres/teen|/genres/young...           dir01/18660669-vampire-academy.html      297022.0  Vampire Academy (Vampire Academy, #1)
116     3.92        8393.0  NaN  good_reads:book  https://www.goodreads.com/author/show/957894.A...  1942.0  /genres/classics|/genres/fiction|/genres/philo...                 dir02/49552.The_Stranger.html      307566.0                           The Stranger
156     4.03        3473.0  NaN  good_reads:book  https://www.goodreads.com/author/show/4785.Ale...  1843.0  /genres/classics|/genres/fiction|/genres/histo...          dir02/7190.The_Three_Musketeers.html      156968.0                   The Three Musketeers
...      ...           ...  ...              ...                                                ...     ...                                                ...                                           ...           ...                                    ...
5972    4.19        1670.0  NaN  good_reads:book  https://www.goodreads.com/author/show/4586597....  2011.0  /genres/romance|/genres/romance|/genres/contem...                dir60/12351649-perfection.html       35197.0    Perfection (Neighbor from Hell, #2)
5976    4.23        1185.0  NaN  good_reads:book  https://www.goodreads.com/author/show/5160667....  2014.0  /genres/romance|/genres/science-fiction|/genre...             dir60/20504754-transcendence.html        4942.0                          Transcendence
5977    4.03         218.0  NaN  good_reads:book  https://www.goodreads.com/author/show/5769580....  1987.0  /genres/fiction|/genres/novels|/genres/literat...                            dir60/5948927.html        1607.0                             Ø§ÙØªÙÙ
5991    4.20         650.0  NaN  good_reads:book    https://www.goodreads.com/author/show/1112683._  2009.0  /genres/novels|/genres/fiction|/genres/religio...                            dir60/6976667.html        2899.0                    Ø£ÙÙØ§Ø­ ÙØ¯Ø³Ø±
5998    3.91         281.0  NaN  good_reads:book  https://www.goodreads.com/author/show/1201952....  2006.0  /genres/religion|/genres/islam|/genres/religio...                            dir60/2750008.html        3083.0  Ø£Ø³Ø¹Ø¯ Ø§ÙØ±Ø£Ø© ÙÙ Ø§ÙØ¹Ø§ÙÙ

[504 rows x 10 columns]

How does `pandas` or `numpy` handle missing values when we try to compute with data sets that include them?

We'll now check if any of the other suspicious columns have missing values.  Let's look at `year` and `review_count` first.

One thing you can do is to try and convert to the type you expect the column to be. If something goes wrong, it likely means your data are bad.

Lets test for missing data:

In [12]:
df[df.year.isnull()]

      rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir  rating_count                                               name
2442    4.23         526.0         NaN  good_reads:book  https://www.goodreads.com/author/show/623606.A...   NaN  /genres/religion|/genres/islam|/genres/non-fic...                       dir25/1301625.La_Tahzan.html        4134.0                                          La Tahzan
2869    4.61           2.0         NaN  good_reads:book  https://www.goodreads.com/author/show/8182217....   NaN                                                NaN  dir29/22031070-my-death-experiences---a-preach...          23.0  My Death Experiences - A Preacherâs 18 Apoca...
3643     NaN           NaN         NaN              NaN                                                NaN   NaN                                                NaN                    dir37/9658936-harry-potter.html           NaN                                                NaN
5282     NaN           NaN         NaN              NaN                                                NaN   NaN                                                NaN                       dir53/113138.The_Winner.html           NaN                                                NaN
5572    3.71          35.0  8423336603  good_reads:book  https://www.goodreads.com/author/show/285658.E...   NaN                                    /genres/fiction  dir56/890680._rase_una_vez_el_amor_pero_tuve_q...         403.0  Ãrase una vez el amor pero tuve que matarlo. ...
5658    4.32          44.0         NaN  good_reads:book  https://www.goodreads.com/author/show/25307.Ro...   NaN  /genres/fantasy|/genres/fantasy|/genres/epic-f...  dir57/5533041-assassin-s-apprentice-royal-assa...        3850.0  Assassin's Apprentice / Royal Assassin (Farsee...
5683    4.56         204.0         NaN  good_reads:book  https://www.goodreads.com/author/show/3097905....   NaN  /genres/fantasy|/genres/young-adult|/genres/ro...                  dir57/12474623-tiger-s-dream.html         895.0                 Tiger's Dream (The Tiger Saga, #5)

In [13]:
df[df.review_count.isnull()]

      rating  review_count isbn booktype author_url  year genre_urls                              dir  rating_count name
3643     NaN           NaN  NaN      NaN        NaN   NaN        NaN  dir37/9658936-harry-potter.html           NaN  NaN
5282     NaN           NaN  NaN      NaN        NaN   NaN        NaN     dir53/113138.The_Winner.html           NaN  NaN

### Cleaning: Dealing with Missing Values
How should we interpret 'missing' or 'invalid' values in the data (hint: look at where these values occur)? One approach is to simply exclude them from the dataframe. Is this appropriate for all 'missing' or 'invalid' values?

In [14]:
#Treat the missing or invalid values in your dataframe
#######

df = df[df.year.notnull()]

In [15]:
missing_summary = df.isnull().sum()
print("Missing values per column:\n", missing_summary)

Missing values per column:
 rating            0
review_count      0
isbn            471
booktype          0
author_url        0
year              0
genre_urls       59
dir               0
rating_count      0
name              0
dtype: int64

In [16]:
df_cleaned = df.dropna()

df['genre_urls'].fillna('Unknown', inplace=True)
df['review_count'].fillna(0, inplace=True)
df['rating_count'].fillna(0, inplace=True)
df['genre_urls'].fillna('Unknown', inplace=True)
df['isbn'].fillna('Unknown', inplace=True)
df['year_missing'] = df['year'].isnull()

<ipython-input-16-4b2b2757aed0>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['genre_urls'].fillna('Unknown', inplace=True)
<ipython-input-16-4b2b2757aed0>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['review_count'].fillna(0, inplace=True)
<ipython-input-16-4b2b2757aed0>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating_count'].fillna(0, inplace=True)
<ipython-input-16-4b2b2757aed0>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['isbn'].fillna('Unknown', inplace=True)

Ok so we have done some cleaning. What do things look like now? Notice the float has not yet changed.

In [17]:
df.dtypes

rating          float64
review_count    float64
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count    float64
name             object
year_missing       bool
dtype: object

In [18]:
print(np.sum(df.year.isnull()))
print(np.sum(df.rating_count.isnull()))
print(np.sum(df.review_count.isnull()))
# We removed seven rows
df.shape

0
0
0

(5993, 11)

*Suspect observations for rating and rating_count were removed as well! *

<div class="exercise"><b>Exercise</b></div>

Ok so lets fix those types. Convert them to ints. If the type conversion fails, we now know we have further problems.

In [19]:
# your code here
try:
    df['year'] = pd.to_numeric(df['year'], errors='raise').astype(int)
    print("'year' column successfully converted to integers.")
except Exception as e:
    print(f"Error converting 'year' to integers: {e}")

try:
    df['review_count'] = pd.to_numeric(df['review_count'], errors='raise').astype(int)
    print("'review_count' column successfully converted to integers.")
except Exception as e:
    print(f"Error converting 'review_count' to integers: {e}")

'year' column successfully converted to integers.
'review_count' column successfully converted to integers.

Once you do this, we seem to be good on these columns (no errors in conversion). Lets look:

In [20]:
df.dtypes

rating          float64
review_count      int64
isbn             object
booktype         object
author_url       object
year              int64
genre_urls       object
dir              object
rating_count    float64
name             object
year_missing       bool
dtype: object

Sweet!

Some of the other colums that should be strings have NaN.

In [22]:
df.loc[df.genre_urls.isnull(), 'genre_urls']=""
df.loc[df.isbn.isnull(), 'isbn']=""
df.loc[df.booktype.isnull(), 'isbn']=""
df.loc[df.author_url.isnull(), 'isbn']=""
df.loc[df.name.isnull(), 'isbn']=""

##  Part 2: Parsing and Completing the Data Frame

We will parse the `author` column from the author_url and `genres` column from the genre_urls. Keep the `genres` column as a string separated by '|'.

We will use panda's `map` to assign new columns to the dataframe.

Examine an example `author_url` and reason about which sequence of string operations must be performed in order to isolate the author's name.

In [23]:
#Get the first author_url
test_string = df.author_url[0]
test_string

'https://www.goodreads.com/author/show/153394.Suzanne_Collins'

In [24]:
#Test out some string operations to isolate the author name

test_string.split('/')[-1].split('.')[1:][0]

'Suzanne_Collins'

<div class="exercise"><b>Exercise</b></div>

Lets wrap the above code into a function which we will then use

In [39]:
# Write a function that accepts an author url and returns the author's name based on your experimentation above
def get_author(url):
    # your code here
    last_part = url.split('/')[-1]
    author_name = last_part.split('.')[1]
    return author_name

In [40]:
#Apply the get_author function to the 'author_url' column using '.map'
#and add a new column 'author' to store the names
df['author'] = df.author_url.map(get_author)
df.author[0:5]

0    Suzanne_Collins
1        J_K_Rowling
2    Stephenie_Meyer
3         Harper_Lee
4        Jane_Austen
Name: author, dtype: object

<div class="exercise"><b>Exercise</b></div>

Now parse out the genres from `genre_url`.  

This is a little more complicated because there be more than one genre.

In [41]:

df.genre_urls.head()

0    /genres/young-adult|/genres/science-fiction|/g...
1    /genres/fantasy|/genres/young-adult|/genres/fi...
2    /genres/young-adult|/genres/fantasy|/genres/ro...
3    /genres/classics|/genres/fiction|/genres/histo...
4    /genres/classics|/genres/fiction|/genres/roman...
Name: genre_urls, dtype: object

In [42]:
# your code here

#Test out some string operations to isolate the genre name
test_genre_string=df.genre_urls[0]
genres=test_genre_string.strip().split('|')
for e in genres:
    print(e.split('/')[-1])
    "|".join(genres)

young-adult
science-fiction
dystopia
fantasy
science-fiction
romance
adventure
book-club
young-adult
teen
apocalyptic
post-apocalyptic
action

<div class="exercise"><b>Exercise</b></div>

Write a function that accepts a genre url and returns the genre name based on your experimentation above

In [44]:
def split_and_join_genres(url):
    # your code here
    try:
        # Split the URL by '/' and get the last part
        genre_name = genre_url.split('/')[-1]
        return genre_name
    except IndexError:
        return "Invalid URL format"

Test your function

In [47]:
def split_and_join_genres(genre_paths):

    paths = genre_paths.split('|')
    # Extract the genre names by taking the last part of each path
    genres = [path.split('/')[-1] for path in paths]
    # Join the genre names with '|'
    return "|".join(genres)

In [48]:
split_and_join_genres("")

''

<div class="exercise"><b>Exercise</b></div>

Use map again to create a new "genres" column

In [49]:

df['genres']=df.genre_urls.map(split_and_join_genres)
df.head()

   rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir  rating_count                                               name  year_missing           author                                             genres
0    4.40        136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html     2958974.0            The Hunger Games (The Hunger Games, #1)         False  Suzanne_Collins  young-adult|science-fiction|dystopia|fantasy|s...
1    4.41         16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...     1284478.0  Harry Potter and the Order of the Phoenix (Har...         False      J_K_Rowling  fantasy|young-adult|fiction|fantasy|magic|chil...
2    3.56         85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html     2579564.0                            Twilight (Twilight, #1)         False  Stephenie_Meyer  young-adult|fantasy|romance|paranormal|vampire...
3    4.23         47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html     2078123.0                              To Kill a Mockingbird         False       Harper_Lee  classics|fiction|historical-fiction|academic|s...
4    4.23         34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html     1388992.0                                Pride and Prejudice         False      Jane_Austen  classics|fiction|romance|historical-fiction|li...

Finally, let's pick an author at random so we can see the results of the transformations.  Scroll to see the `author` and `genre` columns that we added to the dataframe.

In [50]:
df[df.author == "Marguerite_Yourcenar"]

      rating  review_count        isbn         booktype                                         author_url  year                                         genre_urls                                  dir  rating_count                name  year_missing                author                                             genres
1014    4.23           483  0374529264  good_reads:book  https://www.goodreads.com/author/show/7732.Mar...  1951  /genres/historical-fiction|/genres/fiction|/ge...  dir11/12172.Memoirs_of_Hadrian.html        6258.0  Memoirs of Hadrian         False  Marguerite_Yourcenar  historical-fiction|fiction|cultural|france|cla...
5620    4.11            74  2070367983  good_reads:book  https://www.goodreads.com/author/show/7732.Mar...  1968  /genres/fiction|/genres/historical-fiction|/ge...     dir57/953435.L_uvre_au_noir.html        1601.0    L'Åuvre au noir         False  Marguerite_Yourcenar  fiction|historical-fiction|cultural|france|eur...

Let us delete the `genre_urls` column.

In [51]:
del df['genre_urls']

And then save the dataframe out!

In [54]:
import os
os.makedirs("data", exist_ok=True)

df.to_csv("data/cleaned-goodreads.csv", index=False, header=True)

---

## Part 3: Grouping

It appears that some books were written in negative years!  Print out the observations that correspond to negative years.  What do you notice about these books?

In [55]:
# your code here
negative_years = df[df['year'] < 0]


print(negative_years)

if not negative_years.empty:
    print(f"\nTotal books with negative years: {len(negative_years)}")
    print("\nSummary:")
    print(negative_years.describe())

      rating  review_count        isbn         booktype                                         author_url  year                                                dir  rating_count                                  name  year_missing        author                                             genres
47      3.68          5785  0143039954  good_reads:book    https://www.goodreads.com/author/show/903.Homer  -800                        dir01/1381.The_Odyssey.html      560248.0                           The Odyssey         False         Homer  classics|fiction|poetry|fantasy|mythology|acad...
246     4.01           365  0147712556  good_reads:book    https://www.goodreads.com/author/show/903.Homer  -800              dir03/1375.The_Iliad_The_Odyssey.html       35123.0                 The Iliad/The Odyssey         False         Homer  classics|fantasy|mythology|fantasy|academic|sc...
455     3.85          1499  0140449140  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -380                      dir05/30289.The_Republic.html       82022.0                          The Republic         False         Plato  philosophy|classics|non-fiction|politics|histo...
596     3.77          1240  0679729526  good_reads:book   https://www.goodreads.com/author/show/919.Virgil   -29                        dir06/12914.The_Aeneid.html       60308.0                            The Aeneid         False        Virgil  classics|poetry|fiction|fantasy|mythology|acad...
629     3.64          1231  1580495931  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -429                        dir07/1554.Oedipus_Rex.html       93192.0                           Oedipus Rex         False     Sophocles  classics|plays|drama|fiction|academic|school|l...
674     3.92          3559  1590302257  good_reads:book  https://www.goodreads.com/author/show/1771.Sun...  -512                    dir07/10534.The_Art_of_War.html      114619.0                        The Art of War         False       Sun_Tzu  non-fiction|politics|classics|literature|psych...
746     4.06          1087  0140449183  good_reads:book  https://www.goodreads.com/author/show/5158478....  -500                 dir08/99944.The_Bhagavad_Gita.html       31634.0                     The Bhagavad Gita         False     Anonymous  classics|spirituality|religion|hinduism|fantas...
777     3.52          1038  1580493882  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -442                           dir08/7728.Antigone.html       49084.0                              Antigone         False     Sophocles  drama|fiction|classics|academic|read-for-schoo...
1233    3.94           704  015602764X  good_reads:book  https://www.goodreads.com/author/show/1002.Sop...  -400                  dir13/1540.The_Oedipus_Cycle.html       36008.0                     The Oedipus Cycle         False     Sophocles  classics|plays|drama|fiction|literature|academ...
1397    4.03           890  0192840509  good_reads:book  https://www.goodreads.com/author/show/12452.Aesop  -560                    dir14/21348.Aesop_s_Fables.html       71259.0                        Aesop's Fables         False         Aesop  classics|childrens|literature|fantasy|fairy-ta...
1398    3.60          1644  0141026286  good_reads:book  https://www.goodreads.com/author/show/5158478.... -1500             dir14/19351.The_Epic_of_Gilgamesh.html       42026.0                 The Epic of Gilgamesh         False     Anonymous  religion|literature|ancient|academic|read-for-...
1428    3.80           539  0486275485  good_reads:book  https://www.goodreads.com/author/show/973.Euri...  -431                            dir15/752900.Medea.html       29858.0                                 Medea         False     Euripides  classics|plays|drama|fiction|fantasy|mythology...
1815    3.96           493  0140443339  good_reads:book  https://www.goodreads.com/author/show/990.Aesc...  -458                       dir19/1519.The_Oresteia.html       18729.0                          The Oresteia         False     Aeschylus  classics|plays|drama|fiction|fantasy|mythology...
1882    4.02           377  0872205541  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -400   dir19/22632.The_Trial_and_Death_of_Socrates.html       18712.0       The Trial and Death of Socrates         False         Plato  philosophy|classics|non-fiction|history|litera...
2078    3.84           399  0140440399  good_reads:book  https://www.goodreads.com/author/show/957.Thuc...  -411  dir21/261243.The_History_of_the_Peloponnesian_...       17212.0  The History of the Peloponnesian War         False    Thucydides  history|classics|non-fiction|war|war|military|...
2527    3.94           506  0140449086  good_reads:book  https://www.goodreads.com/author/show/901.Hero...  -440                      dir26/1362.The_Histories.html       20570.0                         The Histories         False     Herodotus  history|classics|non-fiction|cultural|greece|l...
3133    4.30           131  0872203492  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -400                     dir32/9462.Complete_Works.html        7454.0                        Complete Works         False         Plato  philosophy|classics|non-fiction|history|litera...
3274    3.88           411  0140449493  good_reads:book  https://www.goodreads.com/author/show/2192.Ari...  -350            dir33/19068.The_Nicomachean_Ethics.html       16534.0                The Nicomachean Ethics         False     Aristotle  philosophy|classics|non-fiction|politics|acade...
3757    3.82           364  0872206033  good_reads:book  https://www.goodreads.com/author/show/1011.Ari...  -411                         dir38/1591.Lysistrata.html       18070.0                            Lysistrata         False  Aristophanes  plays|classics|drama|fiction|plays|theatre|hum...
4402    3.99           516  0140449272  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -370                     dir45/81779.The_Symposium.html       18457.0                         The Symposium         False         Plato  non-fiction|classics|philosophy|academic|schoo...
4475    4.11           281  0865163480  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -390                           dir45/73945.Apology.html       11478.0                               Apology         False         Plato  philosophy|classics|non-fiction|history|academ...
5367    4.07           133  0872206335  good_reads:book    https://www.goodreads.com/author/show/879.Plato  -360                    dir54/30292.Five_Dialogues.html        9964.0                        Five Dialogues         False         Plato  philosophy|classics|non-fiction|academic|schoo...

Total books with negative years: 22

Summary:
          rating  review_count         year   rating_count
count  22.000000     22.000000    22.000000      22.000000
mean    3.897727   1054.181818  -489.681818   61934.590909
std     0.183535   1293.559012   271.951919  115056.551294
min     3.520000    131.000000 -1500.000000    7454.000000
25%     3.805000    382.500000  -489.500000   18166.750000
50%     3.930000    527.500000  -420.000000   30746.000000
75%     4.017500   1195.000000  -392.500000   57502.000000
max     4.300000   5785.000000   -29.000000  560248.000000

We can determine the "best book" by year! For this we use Pandas groupby. Groupby allows grouping a dataframe by any (usually categorical) variable.

In [56]:
dfgb_author = df.groupby('author')
type(dfgb_author)

pandas.core.groupby.generic.DataFrameGroupBy

Perhaps we want the number of books each author wrote

In [57]:
dfgb_author.count()

                       rating  review_count  isbn  booktype  author_url  year  dir  rating_count  name  year_missing  genres
author
A_A_Milne                   6             6     6         6           6     6    6             6     6             6       6
A_G_Howard                  1             1     1         1           1     1    1             1     1             1       1
A_J_Cronin                  1             1     1         1           1     1    1             1     1             1       1
A_J_Jacobs                  1             1     1         1           1     1    1             1     1             1       1
A_J_Salt                    1             1     1         1           1     1    1             1     1             1       1
...                       ...           ...   ...       ...         ...   ...  ...           ...   ...           ...     ...
_                          42            42    42        42          42    42   42            42    42            42      42
_gota_Krist_f               1             1     1         1           1     1    1             1     1             1       1
_mile_Zola                  4             4     4         4           4     4    4             4     4             4       4
_ric_Emmanuel_Schmitt       1             1     1         1           1     1    1             1     1             1       1
_sne_Seierstad              1             1     1         1           1     1    1             1     1             1       1

[2645 rows x 11 columns]

Lots of useless info there. One column should suffice

In [58]:
dfgb_author['author'].count()

author
A_A_Milne                 6
A_G_Howard                1
A_J_Cronin                1
A_J_Jacobs                1
A_J_Salt                  1
                         ..
_                        42
_gota_Krist_f             1
_mile_Zola                4
_ric_Emmanuel_Schmitt     1
_sne_Seierstad            1
Name: author, Length: 2645, dtype: int64

Perhaps you want more detailed info...

In [59]:
dfgb_author[['rating', 'rating_count', 'review_count', 'year']].describe()

                      rating                                                        rating_count                                                                             review_count                                                                      year
                       count      mean       std   min     25%    50%     75%   max        count          mean           std      min       25%      50%       75%       max        count         mean          std     min      25%     50%      75%     max count         mean         std     min      25%     50%      75%     max
author
A_A_Milne                6.0  4.365000  0.078677  4.25  4.3275  4.365  4.4025  4.48          6.0  47842.333333  57135.314010    544.0  15559.50  30547.0  50401.25  157833.0          6.0   543.000000   682.473150     1.0   219.50   309.5   499.25  1886.0   6.0  1944.166667   29.294482  1926.0  1926.25  1927.5  1952.75  1997.0
A_G_Howard               1.0  4.020000       NaN  4.02  4.0200  4.020  4.0200  4.02          1.0  17073.000000           NaN  17073.0  17073.00  17073.0  17073.00   17073.0          1.0  3194.000000          NaN  3194.0  3194.00  3194.0  3194.00  3194.0   1.0  2013.000000         NaN  2013.0  2013.00  2013.0  2013.00  2013.0
A_J_Cronin               1.0  4.220000       NaN  4.22  4.2200  4.220  4.2200  4.22          1.0   1015.000000           NaN   1015.0   1015.00   1015.0   1015.00    1015.0          1.0   109.000000          NaN   109.0   109.00   109.0   109.00   109.0   1.0  1941.000000         NaN  1941.0  1941.00  1941.0  1941.00  1941.0
A_J_Jacobs               1.0  3.750000       NaN  3.75  3.7500  3.750  3.7500  3.75          1.0  39489.000000           NaN  39489.0  39489.00  39489.0  39489.00   39489.0          1.0  4371.000000          NaN  4371.0  4371.00  4371.0  4371.00  4371.0   1.0  2007.000000         NaN  2007.0  2007.00  2007.0  2007.00  2007.0
A_J_Salt                 1.0  4.940000       NaN  4.94  4.9400  4.940  4.9400  4.94          1.0     16.000000           NaN     16.0     16.00     16.0     16.00      16.0          1.0     6.000000          NaN     6.0     6.00     6.0     6.00     6.0   1.0  2014.000000         NaN  2014.0  2014.00  2014.0  2014.00  2014.0
...                      ...       ...       ...   ...     ...    ...     ...   ...          ...           ...           ...      ...       ...      ...       ...       ...          ...          ...          ...     ...      ...     ...      ...     ...   ...          ...         ...     ...      ...     ...      ...     ...
_                       42.0  3.988095  0.301211  3.15  3.8000  4.075  4.2075  4.47         42.0  11574.642857   9368.218450     10.0   4724.00   8709.5  15572.75   39302.0         42.0  1437.214286  1216.421371     1.0   534.75  1020.5  1745.75  4785.0  42.0  1998.904762   18.721071  1941.0  1994.75  2007.0  2010.75  2014.0
_gota_Krist_f            1.0  4.340000       NaN  4.34  4.3400  4.340  4.3400  4.34          1.0   2628.000000           NaN   2628.0   2628.00   2628.0   2628.00    2628.0          1.0   243.000000          NaN   243.0   243.00   243.0   243.00   243.0   1.0  1986.000000         NaN  1986.0  1986.00  1986.0  1986.00  1986.0
_mile_Zola               4.0  3.990000  0.100995  3.84  3.9750  4.035  4.0500  4.05          4.0   8358.250000   4553.226942   3594.0   5181.75   8095.0  11271.50   13649.0          4.0   283.750000   171.069917   125.0   189.50   243.5   337.75   523.0   4.0  1652.500000  456.345264   968.0  1649.75  1878.5  1881.25  1885.0
_ric_Emmanuel_Schmitt    1.0  4.160000       NaN  4.16  4.1600  4.160  4.1600  4.16          1.0   6439.000000           NaN   6439.0   6439.00   6439.0   6439.00    6439.0          1.0   424.000000          NaN   424.0   424.00   424.0   424.00   424.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0
_sne_Seierstad           1.0  3.740000       NaN  3.74  3.7400  3.740  3.7400  3.74          1.0  24993.000000           NaN  24993.0  24993.00  24993.0  24993.00   24993.0          1.0  2088.000000          NaN  2088.0  2088.00  2088.0  2088.00  2088.0   1.0  2002.000000         NaN  2002.0  2002.00  2002.0  2002.00  2002.0

[2645 rows x 32 columns]

You can also access a `groupby` dictionary style.

In [60]:
ratingdict = {}
for author, subset in dfgb_author:
    ratingdict[author] = (subset['rating'].mean(), subset['rating'].std())
ratingdict

{'A_A_Milne': (4.364999999999999, 0.0786765530510839),
 'A_G_Howard': (4.02, nan),
 'A_J_Cronin': (4.22, nan),
 'A_J_Jacobs': (3.75, nan),
 'A_J_Salt': (4.94, nan),
 'A_Meredith_Walters': (4.15, 0.16970562748477094),
 'A_N_Roquelaure': (3.45, 0.2262741699796951),
 'A_S_Byatt': (3.86, nan),
 'A_S_King': (3.93, nan),
 'A_id_al_Qarni': (4.050000000000001, 0.19798989873223347),
 'Abbi_Glines': (4.179285714285713, 0.12916681436834276),
 'Abdul_Rahman_Munif': (4.03, nan),
 'Abigail_Gibbs': (3.82, nan),
 'Abigail_Roux': (4.47, 0.22876479915697992),
 'Abigail_Thomas': (3.68, nan),
 'Abolqasem_Ferdowsi': (4.52, nan),
 'Abraham_Verghese': (4.26, nan),
 'Abul_Hasan_Ali_Nadwi': (4.15, nan),
 'Adam_Hochschild': (4.14, nan),
 'Adam_Johnson': (4.03, nan),
 'Adam_Levin': (4.04, nan),
 'Adam_Rex': (4.14, nan),
 'Adam_Smith': (3.82, nan),
 'Addison_Moore': (3.78, nan),
 'Adeline_Yen_Mah': (4.01, nan),
 'Adolf_Hitler': (2.97, nan),
 'Adolfo_Bioy_Casares': (4.06, nan),
 'Aeschylus': (3.96, nan),
 'Aesop': (4.03, nan),
 'Agatha_Christie': (3.9772727272727266, 0.12190905701307918),
 'Ahlam_Mosteghanemi': (3.97, nan),
 'Ahmad_Baari': (4.88, nan),
 'Ahmad_Fuadi': (4.0, nan),
 'Ai_Yazawa': (4.19, nan),
 'Aidan_Chambers': (4.27, nan),
 'Aimee_Carter': (3.9133333333333336, 0.13051181300301234),
 'Aimee_Friedman': (3.64, nan),
 'Alain_Fournier': (3.79, nan),
 'Alan_Bradley': (3.79, nan),
 'Alan_Brennert': (4.13, nan),
 'Alan_Campbell': (3.58, nan),
 'Alan_Hollinghurst': (3.65, nan),
 'Alan_Lightman': (4.07, nan),
 'Alan_Moore': (4.198, 0.1630030674557996),
 'Alan_Paton': (3.83, nan),
 'Alan_Wilson_Watts': (4.27, nan),
 'Alastair_Reynolds': (4.09, nan),
 'Albert_Camus': (4.032000000000001, 0.09523654760647308),
 'Albert_Einstein': (4.13, nan),
 'Albert_Espinosa': (3.36, nan),
 'Alcoholics_Anonymous': (4.39, nan),
 'Aldo_Leopold': (4.22, nan),
 'Aldous_Huxley': (3.9400000000000004, 0.12288205727444491),
 'Aleatha_Romig': (4.275, 0.27577164466275333),
 'Alecia_Stone': (4.455, 0.657609306503489),
 'Aleksandr_Solzhenitsyn': (4.0600000000000005, 0.12288205727444532),
 'Alessandro_Baricco': (4.036666666666666, 0.21361959960016158),
 'Alessandro_Manzoni': (3.71, nan),
 'Alex_Flinn': (3.8200000000000003, 0.04242640687119289),
 'Alex_Garland': (3.5300000000000002, 0.46669047558312116),
 'Alex_Haley': (4.39, nan),
 'Alex_Harris': (4.11, nan),
 'Alex_Kotlowitz': (4.23, nan),
 'Alex_Sanchez': (3.91, 0.08485281374238578),
 'Alexander_Gordon_Smith': (4.09, nan),
 'Alexander_Jovy': (4.12, nan),
 'Alexander_McCall_Smith': (3.7, nan),
 'Alexander_Pushkin': (4.03, nan),
 'Alexandra_Adornetto': (3.8666666666666667, 0.16441816606851367),
 'Alexandra_Bracken': (4.2, 0.3269556544854364),
 'Alexandra_Fuller': (3.94, nan),
 'Alexandra_Ivy': (3.9899999999999998, 0.21213203435596414),
 'Alexandra_Monir': (3.88, nan),
 'Alexandra_Potter': (3.18, nan),
 'Alexandra_Ripley': (3.23, nan),
 'Alexandre_Dumas': (4.09, 0.08485281374238578),
 'Alexandre_Dumas_fils': (3.94, nan),
 'Alexei_Maxim_Russell': (4.17, 0.6298412498399895),
 'Alexis_de_Tocqueville': (3.94, nan),
 'Alfred_Bester': (4.075, 0.10606601717798238),
 'Alfred_Lansing': (4.31, nan),
 'Alfred_Tennyson': (4.04, nan),
 'Ali_Marsman': (4.1, nan),
 'Ali_Smith': (3.46, nan),
 'Alice_Clayton': (4.19, nan),
 'Alice_Hoffman': (3.7942857142857145, 0.11602544876838351),
 'Alice_Kuipers': (3.65, nan),
 'Alice_Schroeder': (4.03, nan),
 'Alice_Sebold': (3.725, 0.007071067811865324),
 'Alice_Walker': (4.074999999999999, 0.07778174593052045),
 'Alija_Izetbegovi_': (4.46, nan),
 'Alison_Bechdel': (4.12, nan),
 'Alison_Croggon': (4.2175, 0.2766917659297678),
 'Alison_Goodman': (4.0649999999999995, 0.0919238815542511),
 'Alison_Weir': (3.9899999999999998, 0.08888194417315584),
 'Alistair_MacLeod': (3.98, nan),
 'Allan_Frewin_Jones': (3.795, 0.28991378028648457),
 'Allan_Gurganus': (3.83, nan),
 'Allan_Pease': (3.94, nan),
 'Allegra_Goodman': (3.67, nan),
 'Allen_Ginsberg': (4.15, nan),
 'Ally_Carter': (4.197777777777778, 0.21194207804125262),
 'Ally_Condie': (3.6133333333333333, 0.1040832999733067),
 'Ally_Shields': (3.83, nan),
 'Allyse_Near': (4.26, nan),
 'Alma_Katsu': (3.69, nan),
 'Alyson_Noel': (3.772, 0.17516975893242662),
 'Alyxandra_Harvey': (4.03, 0.1153256259467082),
 'Am_lie_Nothomb': (3.77, 0.08485281374238578),
 'Amanda_E_Alvarez': (3.77, nan),
 'Amanda_Hocking': (3.95375, 0.12993817211054096),
 'Amber_Argyle': (3.69, nan),
 'Amber_Lea_Easton': (4.21, nan),
 'Ambrose_Bierce': (4.15, nan),
 'Amelia_Atwater_Rhodes': (4.041666666666667, 0.13090709173557669),
 'Amelia_Hutchins': (4.38, 0.19798989873223286),
 'Ami_McKay': (3.97, nan),
 'Amin_Maalouf': (4.17, nan),
 'Amish_Tripathi': (3.93, 0.0),
 'Amitav_Ghosh': (3.91, nan),
 'Amor_Towles': (3.98, nan),
 'Amy_A_Bartol': (4.3375, 0.16680827317612265),
 'Amy_Efaw': (3.72, nan),
 'Amy_Harmon': (4.365, 0.14849242404917495),
 'Amy_Hempel': (4.27, nan),
 'Amy_Plum': (4.105, 0.12020815280171367),
 'Amy_Tan': (3.8200000000000003, 0.24361855430159662),
 'Anastacia_Moore': (4.65, nan),
 'Anchee_Min': (3.86, nan),
 'Andr_Aciman': (4.04, nan),
 'Andr_Gide': (3.67, nan),
 'Andre_Agassi': (4.11, nan),
 'Andre_Dubus_III': (3.77, nan),
 'Andrea_Cremer': (4.066666666666666, 0.055075705472860864),
 'Andrea_Hirata': (3.94, 0.2764054992217052),
 'Andrea_Levy': (3.86, nan),
 'Andrew_Clements': (3.8266666666666667, 0.05859465277082333),
 'Andrew_Davidson': (3.96, nan),
 'Andrew_Klavan': (4.12, 0.1838477631085022),
 'Andrew_Smith': (4.17, nan),
 'Andrzej_Sapkowski': (4.273333333333333, 0.11060440015358027),
 'Andy_Szpuk': (4.18, nan),
 'Andy_Weir': (4.33, nan),
 'Angel_Sefer': (4.43, nan),
 'Angela_Carter': (4.01, 0.0707106781186545),
 'Angela_Morrison': (4.0, nan),
 'Angelo_Tsanatelis': (4.1899999999999995, 0.21213203435596412),
 'Angie_Martin': (4.4399999999999995, 0.11313708498984708),
 'Angie_Sage': (3.865, 0.134350288425444),
 'Anita_Diamant': (4.13, nan),
 'Anita_Shreve': (3.84, nan),
 'Ann_Aguirre': (4.025, 0.14849242404917495),
 'Ann_Brashares': (3.742857142857143, 0.10291003930849597),
 'Ann_Fairbairn': (4.41, nan),
 'Ann_M_Martin': (4.16, nan),
 'Ann_Marie_MacDonald': (3.91, nan),
 'Ann_Patchett': (3.78, 0.1513274595042156),
 'Ann_Rule': (4.029999999999999, 0.12186057606953923),
 'Anna_Banks': (4.0600000000000005, 0.014142135623731277),
 'Anna_Carey': (3.8200000000000003, 0.1555634918610406),
 'Anna_Gavalda': (4.1, nan),
 'Anna_Godbersen': (3.7866666666666666, 0.12701705922171752),
 'Anna_Lee_Waldo': (4.2, nan),
 'Anna_Quindlen': (3.81, nan),
 'Anna_Sewell': (3.92, nan),
 'Anne_Bishop': (4.253, 0.14735067771212387),
 'Anne_Bront_': (3.7249999999999996, 0.19091883092036785),
 'Anne_Carson': (4.39, nan),
 'Anne_Elisabeth_Stengl': (4.18, 0.39509492530276813),
 'Anne_Fadiman': (4.12, nan),
 'Anne_Fortier': (3.9, nan),
 'Anne_Frank': (4.06, nan),
 'Anne_Lamott': (4.18, 0.042426406871192576),
 'Anne_McCaffrey': (4.033076923076924, 0.1835022531825615),
 'Anne_Michaels': (3.96, nan),
 'Anne_Morrow_Lindbergh': (4.18, nan),
 'Anne_Rice': (3.812105263157895, 0.14401307607947048),
 'Anne_Tyler': (3.8316666666666666, 0.16702295251451718),
 'Annemarie_Selinko': (3.94, nan),
 'Annette_Curtis_Klause': (3.7, 0.09899494936611673),
 'Annie_Dillard': (3.98, 0.19798989873223347),
 'Annie_Proulx': (3.8449999999999998, 0.10606601717798206),
 'Anonymous': (4.265294117647059, 0.3613363676524068),
 'Anthony_Bourdain': (3.97, nan),
 'Anthony_Burgess': (4.055, 0.14849242404917495),
 'Anthony_Doerr': (4.19, nan),
 'Anthony_Hope': (3.87, nan),
 'Anthony_Horowitz': (4.0672727272727265, 0.08462752614733685),
 'Anthony_Kiedis': (4.06, nan),
 'Anthony_Marra': (4.15, nan),
 'Anthony_Ryan': (4.54, nan),
 'Anthony_Swofford': (3.59, nan),
 'Anthony_Trollope': (4.01, 0.028284271247461926),
 'Antoine_de_Saint_Exup_ry': (4.293333333333333, 0.1365039681962884),
 'Anton_Chekhov': (4.06, 0.35791060336346536),
 'Antonia_Fraser': (3.89, nan),
 'Antonia_Michaelis': (4.14, nan),
 'Antony_Beevor': (4.28, nan),
 'Anya_Seton': (4.18, nan),
 'Aporva_Kala': (4.355, 0.10606601717798175),
 'April_Henry': (3.94, nan),
 'Aprilynne_Pike': (4.0225, 0.19720970226301415),
 'Aravind_Adiga': (3.69, nan),
 'Ariana_Franklin': (3.94, nan),
 'Aristophanes': (3.82, nan),
 'Aristotle': (3.88, nan),
 'Arkady_Strugatsky': (4.275, 0.06363961030678918),
 'Armando_Cosani': (4.55, nan),
 'Armistead_Maupin': (4.07, nan),
 'Art_Spiegelman': (4.426666666666667, 0.07767453465154048),
 'Arthur_C_Clarke': (3.9659999999999997, 0.17285832349065502),
 'Arthur_Conan_Doyle': (4.198461538461538, 0.2004098364953741),
 'Arthur_Golden': (4.03, nan),
 'Arthur_Koestler': (4.03, nan),
 'Arthur_Miller': (3.47, 0.028284271247461926),
 'Arthur_Ransome': (3.97, nan),
 'Arthur_Rimbaud': (4.3933333333333335, 0.0461880215351701),
 'Arthur_Schnitzler': (3.79, nan),
 'Arturo_P_rez_Reverte': (3.8049999999999997, 0.007071067811865638),
 'Arun_Tiwari': (4.1, nan),
 'Arundhati_Roy': (3.88, nan),
 'Asa_Don_Brown': (4.45, nan),
 'Ashley_Chappell': (4.605, 0.26162950903902266),
 'Ashley_Waelti': (4.36, nan),
 'Astrid_Lindgren': (4.1899999999999995, 0.12000000000000009),
 'Audrey_Niffenegger': (3.565, 0.5020458146424487),
 'Augusten_Burroughs': (3.815, 0.23334523779156074),
 'Augustine_of_Hippo': (3.82, nan),
 'Aurora_Rose_Reynolds': (4.21, nan),
 'Austin_Kleon': (3.88, nan),
 'Author_Neva_Squires_Rodriguez': (4.25, nan),
 'Autumn_Cornwell': (3.95, nan),
 'Avery_Aster': (3.73, 0.3144307024873154),
 'Avi': (3.79, nan),
 'Ayaan_Hirsi_Ali': (4.18, nan),
 'Ayn_Rand': (3.7979999999999996, 0.1739827577663947),
 'Azar_Nafisi': (3.54, nan),
 'B_Kristin_McMichael': (3.8700000000000006, 0.14106735979665874),
 'Banana_Yoshimoto': (3.82, nan),
 'Barack_Obama': (3.66, nan),
 'Barbara_Demick': (4.41, nan),
 'Barbara_Ehrenreich': (3.58, nan),
 'Barbara_Erskine': (4.04, nan),
 'Barbara_Kingsolver': (3.931666666666666, 0.11321071798494443),
 'Barbara_Taylor_Bradford': (4.12, nan),
 'Barbara_W_Tuchman': (4.126666666666666, 0.08082903768654764),
 'Barry_Jordan_Jr_': (4.48, nan),
 'Barry_Lyga': (3.99, nan),
 'Barry_Unsworth': (4.12, nan),
 'Beatrice_Sparks': (3.76, nan),
 'Beatrix_Potter': (4.24, 0.14142135623730964),
 'Becca_Fitzpatrick': (4.24, 0.18264720090929407),
 'Belle_Aurora': (4.255, 0.12020815280171303),
 'Belsebuub': (4.62, nan),
 'Belzebuub': (4.475, 0.0919238815542511),
 'Ben_Goldacre': (4.07, nan),
 'Ben_Peller': (4.18, 0.21213203435596412),
 'Ben_Sherwood': (3.99, nan),
 'Benedict_Freedman': (4.12, nan),
 'Benjamin_Alire_S_enz': (4.27, nan),
 'Benjamin_Franklin': (3.78, nan),
 'Benjamin_Graham': (4.24, nan),
 'Benjamin_Hoff': (4.0600000000000005, 0.08485281374238578),
 'Bernadette_Azizi': (4.06, nan),
 'Bernard_Cornwell': (4.123333333333333, 0.22327113561766107),
 'Bernard_Malamud': (3.77, 0.2262741699796954),
 'Bernhard_Schlink': (3.69, nan),
 'Bertolt_Brecht': (3.66, nan),
 'Bertrand_Russell': (4.02, nan),
 'Beryl_Markham': (4.18, nan),
 'Bess_Streeter_Aldrich': (4.07, nan),
 'Beth_Fantaskey': (3.86, nan),
 'Beth_Hoffman': (3.89, nan),
 'Beth_Revis': (3.94, 0.19798989873223347),
 'Bethany_Hamilton': (4.12, nan),
 'Bette_Greene': (3.63, nan),
 'Betty_Edwards': (3.86, nan),
 'Betty_Friedan': (3.81, nan),
 'Betty_MacDonald': (4.15, nan),
 'Betty_Mahmoody': (3.99, nan),
 'Betty_Smith': (4.22, nan),
 'Bev_Stout': (4.4, nan),
 'Bill_Bryson': (3.963333333333333, 0.10535653752852739),
 'Bill_Courtney': (4.39, nan),
 'Bill_Konigsberg': (4.05, nan),
 'Bill_Martin_Jr_': (4.16, nan),
 'Bill_Watterson': (4.690000000000001, 0.060415229867972826),
 'Billie_Letts': (3.97, nan),
 'Bisco_Hatori': (4.35, nan),
 'Blue_Jeans': (4.15, nan),
 'Bo_Hampton': (3.94, nan),
 'Bob_Atkinson': (4.15, nan),
 'Bob_Dylan': (3.99, nan),
 'Bodie_Thoene': (4.336666666666666, 0.06806859285554051),
 'Bohumil_Hrabal': (4.16, 0.05656854249492385),
 'Boris_Pasternak': (4.02, nan),
 'Boris_Vian': (4.035, 0.0212132034355966),
 'Brae_Wyckoff': (3.92, nan),
 'Bram_Stoker': (3.94, nan),
 'Brandon_Mull': (4.211666666666666, 0.15419684389333865),
 'Brandon_Sanderson': (4.316363636363636, 0.2578089497000725),
 'Bree_Despain': (3.945, 0.1626345596729056),
 'Brenna_Yovanoff': (3.58, nan),
 'Brent_Weeks': (4.300000000000001, 0.11882760622010352),
 'Bret_Easton_Ellis': (3.62, 0.13656500283747663),
 'Brett_Axel': (4.61, nan),
 'Brian_Celio': (4.05, nan),
 'Brian_Greene': (4.1, nan),
 'Brian_Jacques': (4.009285714285714, 0.07205385653633149),
 'Brian_K_Vaughan': (4.15, nan),
 'Brian_Katcher': (3.89, nan),
 'Brian_L_Weiss': (4.16, nan),
 'Brian_Lumley': (3.96, nan),
 'Brian_Patrick_McKinley': (4.53, nan),
 'Brian_Selznick': (4.175, 0.06363961030678918),
 'Brigid_Kemmerer': (4.125, 0.1484924240491756),
 'Brodi_Ashton': (3.81, nan),
 'Brom': (4.09, nan),
 'Brother_Andrew': (4.29, nan),
 'Brother_Lawrence': (4.31, nan),
 'Bruce_Campbell': (4.01, nan),
 'Bruno_Schulz': (4.2, nan),
 'Bryan_Davis': (4.17, nan),
 'Bryan_Lee_O_Malley': (4.24, 0.09899494936611643),
 'Bryce_Courtenay': (4.125, 0.15631165450257803),
 'CLAMP': (4.12, nan),
 'C_C_Humphreys': (3.82, nan),
 'C_C_Hunter': (4.322, 0.10183319694480758),
 'C_D_Payne': (4.03, nan),
 'C_E_Kilgore': (3.96, nan),
 'C_G_Jung': (4.18, nan),
 'C_J_Box': (3.8, nan),
 'C_J_Daugherty': (4.105, 0.1343502884254443),
 'C_J_Redwine': (3.74, nan),
 'C_J_Roberts': (4.27, 0.1664331697709322),
 'C_J_Sansom': (4.06, nan),
 'C_L_Stone': (4.416666666666667, 0.10969655114602912),
 'C_L_Wilson': (4.239999999999999, 0.13076696830622028),
 'C_S_Lewis': (4.056111111111111, 0.13856996062252486),
 'Caleb_Carr': (4.03, nan),
 'Candace_Bushnell': (3.56, nan),
 'Candice_Millard': (4.17, nan),
 'Cao_Xueqin': (4.05, nan),
 'Cara_Lynn_Shultz': (3.91, nan),
 'Caragh_M_O_Brien': (3.92, nan),
 'Carl_Hiaasen': (3.8099999999999996, 0.04242640687119289),
 'Carl_Sagan': (4.26, 0.12549900398011124),
 'Carla_Capshaw': (4.29, 0.03605551275463999),
 'Carlo_Collodi': (3.83, nan),
 'Carlos_Castaneda': (3.91, nan),
 'Carlos_Rivera': (4.53, nan),
 'Carlos_Ruiz_Zaf_n': (3.89, 0.25910100990411694),
 'Carol_E_Wyer': (4.25, nan),
 'Carol_Plum_Ucci': (4.06, nan),
 'Carol_Rifka_Brunt': (4.04, nan),
 'Carol_Shields': (3.79, nan),
 'Carole_Wilkinson': (3.94, nan),
 'Carolina_Andujar': (4.32, nan),
 'Caroline_B_Cooney': (3.7, nan),
 'Carolyn_Jessop': (3.94, nan),
 'Carolyn_Keene': (3.935, 0.0212132034355966),
 'Carolyn_Turgeon': (3.6, nan),
 'Carrie_Jones': (3.9033333333333338, 0.16502525059315412),
 'Carrie_Ryan': (3.8633333333333333, 0.22744962812309308),
 'Carrie_Vaughn': (3.66, nan),
 'Carson_McCullers': (3.9133333333333336, 0.11239810200058233),
 'Cassandra_Clare': (4.428461538461539, 0.18876114332872967),
 'Cat_Clarke': (3.85, 0.1131370849898477),
 'Cat_Patrick': (3.825, 0.007071067811865638),
 'Cate_Tiernan': (4.085, 0.07778174593051983),
 'Cath_Crowley': (3.89, nan),
 'Catherine_Anderson': (4.21, 0.05873670062235346),
 'Catherine_Fisher': (3.67, 0.04242640687119289),
 'Catherine_Gilbert_Murdock': (3.72, nan),
 'Catherine_Hardwicke': (4.13, nan),
 'Catherine_Jinks': (3.79, nan),
 'Catherine_Marshall': (4.16, nan),
 'Catherynne_M_Valente': (4.096666666666667, 0.09451631252505201),
 'Cecelia_Ahern': (3.85, 0.12708265027138832),
 'Cecily_von_Ziegesar': (3.6233333333333335, 0.13613718571108077),
 'Celia_Rees': (3.82, nan),
 'Celso_Cukierkorn': (4.15, nan),
 'Chad_Harbach': (3.99, nan),
 'Chaim_Potok': (4.05, 0.10099504938362074),
 'Chanda_Hahn': (3.995, 0.16263455967290624),
 'Charlaine_Harris': (3.9875000000000003, 0.2074126322093232),
 'Charles_Baudelaire': (4.295, 0.049497474683058526),
 'Charles_Bukowski': (3.966666666666667, 0.16120380475245202),
 'Charles_C_Mann': (4.01, nan),
 'Charles_Darwin': (3.94, nan),
 'Charles_Dickens': (3.852666666666666, 0.1682458518557491),
 'Charles_Frazier': (3.685, 0.12020815280171303),
 'Charles_H_Spurgeon': (4.49, nan),
 'Charles_M_Sheldon': (4.12, nan),
 'Charles_Palliser': (4.05, nan),
 'Charles_Portis': (4.11, nan),
 'Charles_de_Lint': (4.3, nan),
 'Charlie_Higson': (4.06, nan),
 'Charlotte_Bront_': (3.813333333333334, 0.22368132093076837),
 'Charlotte_Perkins_Gilman': (3.97, nan),
 'Chelsea_Bellingeri': (4.25, 0.15684387141358128),
 'Chelsea_Fine': (3.99, nan),
 'Chelsea_Handler': (3.8049999999999997, 0.03535533905932756),
 'Chelsea_M_Cameron': (4.05, nan),
 'Cherie_Currie': (3.92, nan),
 'Cherie_Priest': (3.51, nan),
 'Cheryl_McIntyre': (4.28, nan),
 'Cheryl_Strayed': (3.91, nan),
 'Chetan_Bhagat': (3.415, 0.06363961030678918),
 'Chevy_Stevens': (3.94, nan),
 'Chimamanda_Ngozi_Adichie': (4.21, nan),
 'China_Mi_ville': (3.955, 0.1299999999999999),
 'Chinua_Achebe': (3.55, nan),
 'Chitra_Banerjee_Divakaruni': (3.76, 0.41012193308819733),
 'Chloe_Neill': (4.1579999999999995, 0.07395944834840242),
 'Chris_Bohjalian': (3.653333333333333, 0.2510644007686741),
 'Chris_Cleave': (3.66, nan),
 'Chris_Colfer': (4.166666666666667, 0.2829016319029164),
 'Chris_Crutcher': (3.9699999999999998, 0.014142135623730963),
 'Chris_Kyle': (3.95, nan),
 'Chris_Lange': (4.93, nan),
 'Chris_Thrall': (3.75, nan),
 'Chris_Titus': (3.64, nan),
 'Chris_Van_Allsburg': (4.26, nan),
 'Chris_Ware': (4.11, nan),
 'Chris_Wooding': (4.023333333333333, 0.06506407098647707),
 'Chris_d_Lacey': (3.9159999999999995, 0.14293355099485924),
 'Christina_Baker_Kline': (4.07, nan),
 'Christina_Dodd': (4.19, nan),
 'Christina_Lauren': (4.175, 0.1343502884254437),
 'Christina_Mercer': (4.22, nan),
 'Christina_Schwarz': (3.69, nan),
 'Christine_Feehan': (4.1739999999999995, 0.10784247771634307),
 'Christine_M_Knight': (4.18, 0.21213203435596412),
 'Christine_Sparks': (3.86, nan),
 'Christine_Zolendz': (4.115, 0.03535533905932725),
 'Christopher_Barzak': (4.09, nan),
 'Christopher_Hitchens': (3.92, nan),
 'Christopher_Marlowe': (3.77, nan),
 'Christopher_McDougall': (4.28, nan),
 'Christopher_Moore': (3.9187499999999997, 0.1851977707363516),
 'Christopher_Paolini': (4.072857142857143, 0.2016361645567154),
 'Christopher_Paul_Curtis': (3.91, nan),
 'Christopher_Pike': (4.031666666666667, 0.13044794619566344),
 'Christopher_Rice': (3.89, nan),
 'Christopher_Shields': (4.15, 0.07071067811865513),
 'Chuck_Dixon': (4.48, nan),
 'Chuck_Klosterman': (3.79, 0.0707106781186545),
 'Chuck_Palahniuk': (3.7975, 0.22017849901516612),
 'Cinda_Williams_Chima': (4.248571428571428, 0.18809825193486618),
 'Cindy_C_Bennett': (4.09, nan),
 'Cindy_Springsteen': (4.77, nan),
 'Claire_LaZebnik': (3.75, nan),
 'Clare_B_Dunkle': (4.13, nan),
 'Clare_Vanderpool': (4.01, nan),
 'Clarice_Lispector': (3.95, nan),
 'Clarissa_Pinkola_Est_s': (4.11, nan),
 'Claude_Brown': (4.3, nan),
 'Claudia_Gray': (3.81, 0.09949874371066192),
 'Clay_Griffith': (3.87, nan),
 'Clement_C_Moore': (4.34, nan),
 'Clive_Barker': (4.108, 0.056302753041037115),
 'Clive_Cussler': (3.925, 0.007071067811865638),
 'Colleen_Hoover': (4.3862499999999995, 0.08034523721327322),
 'Colleen_Houck': (4.3325, 0.13671747023210548),
 'Colleen_McCullough': (4.109999999999999, 0.09899494936611643),
 'Collette_Sinclaire': (4.48, 0.18384776310850284),
 'Colum_McCann': (3.9, 0.0),
 'Conn_Iggulden': (4.286666666666666, 0.015275252316519626),
 'Connie_May_Fowler': (3.96, nan),
 'Connie_Willis': (4.0, 0.1705872210923196),
 'Conor_Grennan': (4.26, nan),
 'Cora_Carmack': (3.91, 0.1272792206135787),
 'Cormac_McCarthy': (4.086666666666667, 0.17014699527173546),
 'Cornelia_Funke': (3.931666666666667, 0.11160943807163755),
 'Cornelius_Ryan': (4.3, nan),
 'Corrie_ten_Boom': (4.41, nan),
 'Cory_Doctorow': (3.95, nan),
 'Courtney_Allison_Moulton': (4.115, 0.23334523779156074),
 'Courtney_Summers': (3.83, 0.09899494936611673),
 'Craig_Clevenger': (4.01, nan),
 'Craig_Silvey': (4.01, nan),
 'Craig_Thompson': (4.035, 0.03535533905932725),
 'Cristiane_Serruya': (4.16, 0.18734993995195165),
 'Crockett_Johnson': (4.23, nan),
 'Cupcake_Brown': (4.11, nan),
 'Curtis_Sittenfeld': (3.32, nan),
 'Cynthia_Collins': (4.64, nan),
 'Cynthia_Hand': (4.16, 0.03605551275463999),
 'Cynthia_Kadohata': (3.87, nan),
 'Cynthia_Lord': (3.95, nan),
 'Cynthia_Voigt': (3.9000000000000004, 0.014142135623730963),
 'D_B_C_Pierre': (3.54, nan),
 'D_B_Shan': (3.92, nan),

<div class="exercise"><b>Exercise</b></div>

Lets get the best-rated book(s) for every year in our dataframe.

In [61]:
#Using .groupby, we can divide the dataframe into subsets by the values of 'year'.
#We can then iterate over these subsets
# your code here

best_books_per_year = df.groupby('year').apply(
    lambda group: group[group['rating'] == group['rating'].max()]
).reset_index(drop=True)

print(best_books_per_year)

     rating  review_count        isbn         booktype                                         author_url  year                                                dir  rating_count                                               name  year_missing                      author                                             genres
0      3.60          1644  0141026286  good_reads:book  https://www.goodreads.com/author/show/5158478.... -1500             dir14/19351.The_Epic_of_Gilgamesh.html       42026.0                              The Epic of Gilgamesh         False                   Anonymous  religion|literature|ancient|academic|read-for-...
1      4.01           365  0147712556  good_reads:book    https://www.goodreads.com/author/show/903.Homer  -800              dir03/1375.The_Iliad_The_Odyssey.html       35123.0                              The Iliad/The Odyssey         False                       Homer  classics|fantasy|mythology|fantasy|academic|sc...
2      4.03           890  0192840509  good_reads:book  https://www.goodreads.com/author/show/12452.Aesop  -560                    dir14/21348.Aesop_s_Fables.html       71259.0                                     Aesop's Fables         False                       Aesop  classics|childrens|literature|fantasy|fairy-ta...
3      3.92          3559  1590302257  good_reads:book  https://www.goodreads.com/author/show/1771.Sun...  -512                    dir07/10534.The_Art_of_War.html      114619.0                                     The Art of War         False                     Sun_Tzu  non-fiction|politics|classics|literature|psych...
4      4.06          1087  0140449183  good_reads:book  https://www.goodreads.com/author/show/5158478....  -500                 dir08/99944.The_Bhagavad_Gita.html       31634.0                                  The Bhagavad Gita         False                   Anonymous  classics|spirituality|religion|hinduism|fantas...
..      ...           ...         ...              ...                                                ...   ...                                                ...           ...                                                ...           ...                         ...                                                ...
296    5.00             0     Unknown  good_reads:book  https://www.goodreads.com/author/show/6896621....  2012                dir45/17259227-patience-s-love.html           7.0                                    Patience's Love         False                 Ronda_Paige                                            Unknown
297    5.00             0     Unknown  good_reads:book  https://www.goodreads.com/author/show/5989528....  2012  dir57/14288412-abstraction-in-theory---laws-of...           6.0  Abstraction In Theory - Laws Of Physical Trans...         False            Subhajit_Ganguly                                            Unknown
298    4.93             7  1781843457  good_reads:book  https://www.goodreads.com/author/show/5014793....  2013                    dir38/18080358-blade-heart.html          15.0                                        Blade Heart         False                 Chris_Lange  fantasy|romance|suspense|adventure|romance|fan...
299    5.00            28     Unknown  good_reads:book  https://www.goodreads.com/author/show/6467808....  2014     dir18/22204746-an-elephant-is-on-my-house.html          64.0                         An Elephant Is On My House         False  Othen_Donald_Dale_Cummings                                   poetry|childrens
300    5.00             9     Unknown  good_reads:book  https://www.goodreads.com/author/show/7738947....  2014                      dir56/21902777-untainted.html          14.0               Untainted (Photographer Trilogy, #3)         False              Sarah_Robinson                                  romance|new-adult

[301 rows x 12 columns]

<ipython-input-61-c225b6e5b48b>:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  best_books_per_year = df.groupby('year').apply(